<!-- 评论插件 -->


<div class="comments"></div>
<hr />
<script src="https://giscus.app/client.js"
        data-repo="keepwalk/keepwalk.github.io"
        data-repo-id="R_kgDOMJ78Dg"
        data-category="Announcements"
        data-category-id="DIC_kwDOMJ78Ds4CgKQd"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>

<!-- 
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script>
    new Valine({
        el: '.comments',
        appId: '{{site.valine.leancloud_appid}}',
        appKey: '{{site.valine.leancloud_appkey}}',
        avatar: 'robohash',
        placeholder: '欢迎留言（支持Markdown）~',
        // visitor: true,
    });
    document.querySelector('input.vmail.vinput').placeholder = '邮箱（用于评论回复提醒）';
</script>
-->
